
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Josefin Sans', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #90AFC5;
}
.section{
    height: 40vh;
    width: 65%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 1vw;
    margin: 2vw;

    border-radius: 1vw;
    box-shadow: 10px 10px 19px #2A3132;

    background-color: #336B87;
}
.inputArea{
    width: 30%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
h1{
    font-size: 4vw;
}
label{
    padding: 1vw;
    
    font-size: 1vw;
    font-weight: 800;
}
input{
    height: 6vh;
    width: 8vw;
}
input[type="number"]{
    padding: 5px;

    font-size: 1.2vw;

    text-align: center;
    font-weight: 800;
}
button{
    padding: 1vw 4vw;
    margin: 0.5vw;

    border-radius: 2vw;

    color: white;
    font-size: large;
    font-weight: 800;

    background-color: #2A3132;
}
button:hover {
    background-color: #212324;
}
p{
    padding: 5px;
    color: white;
    font-size: 20vh;
    font-weight: 800;
}